.column
  .title
    Demos
  .description
    <br>
  .grid-layout.grid-layout3
    .grid-item
      %iframe{:width=>"560", :height=>"200", :allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/ihdxpO5rgSc"}

    .grid-item
      %iframe{:width=>"560", :height=>"200", :allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/blJT8f6ZDH8"}

    .grid-item
      %iframe{:width=>"560", :height=>"200", :allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/QV2dIocn-hk"}

  <br> <br>
