---
title: GitLab System Administration Training
suppress_header: true
description: "GitLab System Administration Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education Services

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_admin" }
    .row
      .col-md-12
        %h2 Course Syllabus
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 1 hour
                  %td System Administration Overview
                  %td
                    %ul
                      %li GitLab Application Architecture Overview
                      %li GitLab Omnibus Installation
                      %li GitLab Admin Panel
                      %li Administration Commands
                %tr
                  %td 2 - 3 hours
                  %td System Administration Installation Basics
                  %td
                    %ul
                      %li Installing and Configuring Runners
                      %li Configuring System Hooks
                      %li Configuring Security Settings
                      %li Interpreting Usage Statistics
                      %li Basic Security Default Settings
                %tr
                  %td 2 - 3 hours
                  %td System Administration Configuration
                  %td
                    %ul
                      %li Configuring Backup and Restore
                      %li Updating GitLab Instances
                      %li Adding and Updating Users
                      %li Configuring and Updating CI Settings
                      %li Optional Integrations

        = partial "includes/services/requirements", locals: { id: "training_sessions_admin" }
