-# = partial "includes/layout/banner"
-# Comment this out when there's no active global site banner
%nav#global-nav.slp-sticky.slp-left-0.slp-right-0.slp-top-0.slp-bg-white.slp-z-90{style: "z-index: 1000000;"}
  = partial "includes/layout/navigation/navigation-mobile"
  = partial "includes/layout/navigation/navigation-desktop"
= partial "includes/layout/search"
%script{src: "/javascripts/mobile-menu.js", type: "text/javascript"}

-# This includes is mirroring the structure of Navigation Slippers UI component
-# https://gitlab-com.gitlab.io/marketing/inbound-marketing/slippers-ui/?path=/story/components-navigation--default 
